@font-face{ font-family: "KarnivoreBlue"; src:url('/JaeyeongYoo.github.io/font/KARNIVBL.eot'); }
@font-face{ font-family: "KarnivoreBlue"; src:url('/JaeyeongYoo.github.io/font/KARNIVBL.woff'); }
@font-face{ font-family: "KarnivoreLite"; src:url('/JaeyeongYoo.github.io/font/KARNIVOL.eot'); }
@font-face{ font-family: "KarnivoreLite"; src:url('/JaeyeongYoo.github.io/font/KARNIVOL.woff'); }  
 


body
{
  width: 100%;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  padding: 0px;
  margin: 0px;
  min-width: 770px;
} 

header
{
  width: 100%;
  height: 350px;
  text-align: right;
  min-width: 300px;
  padding: 0px;
  margin: 0px;

}

img.title
{
  top: 0px;
  right: 50px;
  margin-top: 100px;
  margin-right: 50px;
}

nav
{
  font-size: 30px;
  font-family: "KARNIVORE Blue", cursive;
  margin: 30px;
  padding: 0px;
}

nav div
{
  font-size: 50px;
  width: 500px;
  display: inline;
  margin: 0px;
  padding: 0px;
}

nav ul li
{
  font-size: 40px;
  display: inline;
  min-width: 800px;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 10px;

}

nav ul li a
{
  color: #FFFFFF;
  font-family: "KARNIVORE Lite", cursive;
  font-size:20px;
  text-decoration: none;
  text-align: right;

}

nav ul li a:hover
{
  color: #FFABE4;
}

div.chess
{
  margin: 70px;
  padding: 30px;
}

section
{
  height: 500px;
  padding: 15px;
}

footer
{
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
  margin: 0px;
  padding: 0px;
}
