@font-face
{
 font-family: "Karnivore Blue";
 src:url(./font/KARNIVBL.eot) format('embedded-opentype'),
  url(./font/KARNIVBL.woff) format('woff'),
  url(./font/KARNIVBL.ttf) format('truetype');
}

@font-face
{
 font-family: "Karnivore Lite";
 src:url(./font/KARNIVOL.eot) format('embedded-opentype'),
  url(./font/KARNIVOL.woff) format('woff'),
  url(./font/KARNIVOL.ttf) format('truetype');
}

@font-face
{
  font-family: "HoonSlim";
  src:url(./font/HoonSlimskinnyL.eot) format('embedded-opentype'),
   url(./font/HoonSlimskinnyL.woff) format('woff'),
   url(./font/HoonSlimskinnyL.ttf) format('truetype');
}

body
{
  width: 100%;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  padding: 0px;
  margin: 0px;
  min-width: 770px;
}


header
{
  width: 100%;
  height: 350px;
  text-align: right;
  min-width: 300px;
  padding: 0px;
  margin: 0px;

}

img.title
{
  top: 0px;
  right: 50px;
  margin-top: 100px;
  margin-right: 50px;
}

nav
{
  font-size: 30px;
  font-family: "KARNIVORE Blue", cursive;
  margin: 30px;
  padding: 0px;
}

nav div
{
  font-size: 60px;
  width: 500px;
  display: inline;
  margin: 0px;
  padding: 0px;
}

nav ul li
{
  font-size: 40px;
  display: inline;
  min-width: 800px;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 10px;

}

nav ul li a
{
  color: #FFFFFF;
  font-family: "KARNIVORE Lite", cursive;
  font-size:20px;
  text-decoration: none;
  text-align: right;

}

nav ul li a:hover
{
  color: #FFABE4;
}

div.menubar
{
  margin-top: 70px;
  padding: 30px;
  padding-bottom: 130px;
}

section
{
  font-family: "HoonSlim", fantasy;
  height: 500px;
  padding: 15px;
}

section article img
{
  position: relative;
  transition:opacity 0.5s;
  z-index: 10;
}

section article img:hover
{
  opacity: 0;
}

section article div.content
{
  position: relative;
  margin-top: -350px;
}

section article div h2
{
  font-size: 50px;
}
section article div p
{
  font-size: 40px;
}


footer
{
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
  margin: 20px;
  padding: 0px;
}
