@font-face
{
 font-family: "Bernard";
 src:url(./font/Bernard.eot) format('embedded-opentype'),
  url(./font/Bernard.woff) format('woff'),
  url(./font/Bernard.ttf) format('truetype');
}

@font-face
{
 font-family: "Pink";
 src:url(./font/365pink.eot) format('embedded-opentype'),
  url(./font/365pink.woff) format('woff'),
  url(./font/365pink.ttf) format('truetype');
}

@font-face
{
 font-family: "Tint";
 src:url(./font/THEflowerTint.eot) format('embedded-opentype'),
  url(./font//THEflowerTint.woff) format('woff'),
  url(./font//THEflowerTint.ttf) format('truetype');
}

@font-face
{
 font-family: "Consola";
 src:url(./font/consola.eot) format('embedded-opentype'),
  url(./font/consola.woff) format('woff'),
  url(./font/consola.ttf) format('truetype');
}

body
{
  max-height: 500px;
  width: 100%;
  background-color: #FFFFFF;
  color: #000000;
  text-align: center;
  padding: 0px;
  margin: 0px;
  min-width: 770px;
}

header
{
  width: 100%;
  height: 300px;
  text-align: right;
  min-width: 300px;
  padding: 0px;
  margin: 0px;
}

ul, li, ol { list-style: none; }

div.menubar
{
  text-align: center;
  padding-bottom: 60px;
}

div.tablecell
{
  display: table;
}

nav
{
  display: table-cell;
  text-align: left;
  font-family: "Consola", monospace;

  margin-top: 50px;
  padding-right: 100px;
}

nav ul div
{
  font-size: 34px;
  font-weight: bold;
  padding-bottom: 40px;
}

nav ul li
{
  padding-bottom: 10px;
}

nav ul li a
{
  color: #000000;
  font-size:30px;
  text-decoration: none;
}

nav ul li a:hover
{
  color: #ff6b75;
}

hr
{
  border-width: 2px;
  border-color: #ff6b75;
  border-style: solid;
}

section
{
  display: table-cell;

  margin-top: 50px;
  text-align: left;
}

section article{
  font-family: "Bernard", monospace;
  font-size: 60px;
  margin: 30px;
}

section article div.chimage
{
  display: inline;
  margin-top: 20px;
  margin-left: -10px;
}

section table
{
  min-width: 770px;
  font-family: "Pink", serif;
  font-size: 25px;
  width: 800px;
  margin: 10px;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

section table tr td.date
{
  width: 250px;
}

section table tr td
{
  height: 45px;
}


section table caption
{
  font-family: "Tint", serif;
  font-size: 40px;
  margin: 20px;

}

footer
{
  clear: both;
  font-style: italic;
  color: #000000;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 10px;
  padding: 0px;
}
